<p>Passwort und Mail</p>
<form action='/login' method='post'>
    <input placeholder="backref" type="hidden" name="_backref" value="{{backref}}">
    <input placeholder="mail" type="email" name="email" required>
    <input placeholder="password" type="password" name="pwd" required>
    <input type="submit" value="Login oder registrieren">
</form>
