<html>
    <p>Was fuer eine Pizze haetten Sie den gerne?</p>
    <form action='/orders' method='post'>
        <input name='name' placeholder='pizza name'>
        <input type='submit' value='Order a Pizza'>
    </form>
</html>