<form action="/random" method="post">
    <label>Anzahl <input name="quantity"/></label>
    <label>Von <input name="from"/></label>
    <label>Nach <input name="to"/></label>
    <input type="submit">
</form>
